In [ ]:
import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/Priya-tops/Tops-Assessment-Data/main/Data%20Analytics/Retail%20Data.csv"
df = pd.read_csv(url)

df.head()

,Order No,Order Date,Customer Name,Address,City,State,Customer Type,Account Manager,Order Priority,Product Name,...,Cost Price,Retail Price,Profit Margin,Order Quantity,Sub Total,Discount %,Discount $,Order Total,Shipping Cost,Total
0,4293-1,02-09-2014,Vivek Sundaresam,"152 Bunnerong Road,Eastgardens",Sydney,NSW,Small Business,Tina Carlton,Critical,UGen Ultra Professional Cordless Optical Suite,...,$156.50,$300.97,$144.47,23.0,"$4,533.52",2%,$194.83,"$4,757.22",$7.18,"$4,291.55"
1,5001-1,24-10-2015,Shahid Hopkins,"438 Victoria Avenue,Chatswood",Sydney,NSW,Corporate,Natasha Song,Medium,Bagged Rubber Bands,...,$0.24,$1.26,$1.02,8.0,$45.20,3%,$0.00,$45.90,$0.70,$46.91
2,5004-1,13-03-2014,Dennis Pardue,"412 Brunswick St,Fitzroy",Melbourne,VIC,Consumer,Connor Betts,Not Specified,TechSavi Cordless Navigator Duo,...,$42.11,$80.98,$38.87,45.0,$873.32,4%,$72.23,$837.57,$7.18,$82.58
3,5009-1,18-02-2013,Sean Wendt,"145 Ramsay St,Haberfield",Sydney,NSW,Small Business,Phoebe Gour,Critical,Artisan Printable Repositionable Plastic Tabs,...,$5.33,$8.60,$3.27,16.0,$73.52,1%,$4.35,$740.67,$6.19,$730.92
4,5010-1,13-09-2014,Christina Vanderzanden,"188 Pitt Street,Sydney",Sydney,NSW,Small Business,Tina Carlton,Not Specified,Pizazz Drawing Pencil Set,...,$1.53,$2.78,$1.25,49.0,$138.46,7%,$5.95,$123.77,$1.34,$125.97

In [ ]:
#Que 1
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Order No           5000 non-null   object
 1   Order Date         5000 non-null   object
 2   Customer Name      5000 non-null   object
 3   Address            4999 non-null   object
 4   City               5000 non-null   object
 5   State              5000 non-null   object
 6   Customer Type      5000 non-null   object
 7   Account Manager    5000 non-null   object
 8   Order Priority     5000 non-null   object
 9   Product Name       5000 non-null   object
 10  Product Category   5000 non-null   object
 11  Product Container  5000 non-null   object
 12  Ship Mode          5000 non-null   object
 13  Ship Date          5000 non-null   object
 14  Cost Price         5000 non-null   object
 15  Retail Price       5000 non-null   object
 16  Profit Margin      5000 non-null   object
 17  Order Quantity     4999 non-null   float64
 18  Sub Total          5000 non-null   object
 19  Discount %         5000 non-null   object
 20  Discount $         5000 non-null   object
 21  Order Total        5000 non-null   object
 22  Shipping Cost      5000 non-null   object
 23  Total              5000 non-null   object
dtypes: float64(1), object(23)
memory usage: 937.6+ KB

In [ ]:
#Que 2
df.shape

(5000, 24)

In [ ]:
#Que 3
df.duplicated().sum()

np.int64(0)

In [ ]:
#Que 4
df[['Order Date','Ship Date']].isnull().sum()
df.isnull().sum()

Order No             0
Order Date           0
Customer Name        0
Address              1
City                 0
State                0
Customer Type        0
Account Manager      0
Order Priority       0
Product Name         0
Product Category     0
Product Container    0
Ship Mode            0
Ship Date            0
Cost Price           0
Retail Price         0
Profit Margin        0
Order Quantity       1
Sub Total            0
Discount %           0
Discount $           0
Order Total          0
Shipping Cost        0
Total                0
dtype: int64

In [ ]:
#Que 5
df['Order Date'] = pd.to_datetime(df['Order Date'], dayfirst=True)
df['Ship Date'] = pd.to_datetime(df['Ship Date'], dayfirst=True)

In [ ]:
#Que 6
(df['Ship Date'] < df['Order Date']).sum()

np.int64(75)

In [ ]:
#Que 7
money_columns = ['Cost Price','Retail Price','Sub Total',
                 'Discount $','Order Total','Shipping Cost','Total']

for col in money_columns:
    df[col] = df[col].replace(r'[\$,]', '', regex=True).astype(float)

In [ ]:
#Que 8
df['Customer Type'].unique()
df['Order Priority'].unique()

array(['Critical', 'Medium', 'Not Specified', 'Low', 'High'], dtype=object)

In [ ]:
#Que 9
df['Ship Mode'].value_counts()

Ship Mode
Regular Air       4236
Express Air        647
Delivery Truck     117
Name: count, dtype: int64

In [ ]:
#Que 10
df['City'].value_counts().head()

City
Sydney       3584
Melbourne    1416
Name: count, dtype: int64

In [ ]:
#Que 11
df['Order Quantity'].min(), df['Order Quantity'].max()
df['Order Total'].min(), df['Order Total'].max()

(1.71, 28299.51)

In [ ]:
#Que 12
df['Shipping Days'] = (df['Ship Date'] - df['Order Date']).dt.days
df.head()

,Order No,Order Date,Customer Name,Address,City,State,Customer Type,Account Manager,Order Priority,Product Name,...,Retail Price,Profit Margin,Order Quantity,Sub Total,Discount %,Discount $,Order Total,Shipping Cost,Total,Shipping Days
0,4293-1,2014-09-02,Vivek Sundaresam,"152 Bunnerong Road,Eastgardens",Sydney,NSW,Small Business,Tina Carlton,Critical,UGen Ultra Professional Cordless Optical Suite,...,300.97,$144.47,23.0,4533.52,2%,194.83,4757.22,7.18,4291.55,2
1,5001-1,2015-10-24,Shahid Hopkins,"438 Victoria Avenue,Chatswood",Sydney,NSW,Corporate,Natasha Song,Medium,Bagged Rubber Bands,...,1.26,$1.02,8.0,45.20,3%,0.00,45.90,0.70,46.91,2
2,5004-1,2014-03-13,Dennis Pardue,"412 Brunswick St,Fitzroy",Melbourne,VIC,Consumer,Connor Betts,Not Specified,TechSavi Cordless Navigator Duo,...,80.98,$38.87,45.0,873.32,4%,72.23,837.57,7.18,82.58,0
3,5009-1,2013-02-18,Sean Wendt,"145 Ramsay St,Haberfield",Sydney,NSW,Small Business,Phoebe Gour,Critical,Artisan Printable Repositionable Plastic Tabs,...,8.60,$3.27,16.0,73.52,1%,4.35,740.67,6.19,730.92,2
4,5010-1,2014-09-13,Christina Vanderzanden,"188 Pitt Street,Sydney",Sydney,NSW,Small Business,Tina Carlton,Not Specified,Pizazz Drawing Pencil Set,...,2.78,$1.25,49.0,138.46,7%,5.95,123.77,1.34,125.97,4

In [ ]:
#Que 13
(df['Order Quantity'] <= 0).sum()
(df['Order Total'] <= 0).sum()

np.int64(0)

In [ ]:
#Que 14
df['Sub Total'] = pd.to_numeric(df['Sub Total'], errors='coerce')
df['Discount %'] = pd.to_numeric(df['Discount %'], errors='coerce')
df['Discount $'] = pd.to_numeric(df['Discount $'], errors='coerce')

((df['Sub Total'] * df['Discount %'] / 100) - df['Discount $']).abs().sum()

np.float64(0.0)

In [ ]:
#Que 15
df['Calculated Total'] = df['Sub Total'] - df['Discount $'] + df['Shipping Cost']

(df['Calculated Total'] - df['Total']).abs().sum()

np.float64(533739.6100000001)

In [ ]:
#Que 16
df.groupby('Product Name')['Order Quantity'].sum().sort_values(ascending=False).head(5)

Product Name
Artisan 474 Labels                         3395.0
Smiths General Use 3-Ring Binders          3220.0
Artisan 479 Labels                         3039.0
Artisan 481 Labels                         2996.0
Apex Preferred Stainless Steel Scissors    2896.0
Name: Order Quantity, dtype: float64

In [ ]:
#Que 17
df.groupby('Account Manager')['Order Total'].sum().sort_values(ascending=False).head(1)

Account Manager
Connor Betts    746122.56
Name: Order Total, dtype: float64

In [ ]:
#Que 18
df.groupby('Ship Mode')['Shipping Cost'].mean()

Ship Mode
Delivery Truck    5.270085
Express Air       5.247311
Regular Air       5.503553
Name: Shipping Cost, dtype: float64

In [ ]:
#Que 19
df = df.replace(r'[\$,]', '', regex=True)
df = df.apply(pd.to_numeric, errors='ignore')
df.groupby('Ship Mode')['Shipping Cost'].mean()

/tmp/ipython-input-2745210697.py:3: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df = df.apply(pd.to_numeric, errors='ignore')

Ship Mode
Delivery Truck    5.270085
Express Air       5.247311
Regular Air       5.503553
Name: Shipping Cost, dtype: float64

In [ ]:
#Que 20
df.groupby('Product Name')['Order Total'].sum().sort_values(ascending=False).head(1)

Product Name
Cando PC940 Copier    703009.37
Name: Order Total, dtype: float64

In [ ]:
df['Order Date'] = pd.to_datetime(df['Order Date'], dayfirst=True)
df['Ship Date'] = pd.to_datetime(df['Ship Date'], dayfirst=True)

df['Shipping Days'] = (df['Ship Date'] - df['Order Date']).dt.days

In [ ]:
#Que 1
df['Order Total'].sum()

np.float64(3808999.85)

In [ ]:
#Que 2
df.groupby('Customer Type')['Order Total'].sum()

Customer Type
Consumer           734848.79
Corporate         1352669.38
Home Office        871795.73
Small Business     849685.95
Name: Order Total, dtype: float64

In [ ]:
#Que 3
df.groupby('Order Priority')['Order Total'].sum()

Order Priority
Critical         741607.62
High             799913.49
Low              645943.00
Medium           795910.24
Not Specified    825625.50
Name: Order Total, dtype: float64

In [ ]:
#Que 4
df.groupby('Product Category')['Profit Margin'].mean()

Product Category
Furniture          12.701953
Office Supplies    17.682609
Technology         20.423208
Name: Profit Margin, dtype: float64

In [ ]:
#Que 5
df.groupby('Product Name')['Order Total'].sum().sort_values(ascending=False).head(1)

Product Name
Cando PC940 Copier    703009.37
Name: Order Total, dtype: float64

In [ ]:
#Que 6
df['Shipping Days'].mean()

np.float64(1.8356)

In [ ]:
#Que 7
df[['Shipping Days','Profit Margin']].corr()

               Shipping Days  Profit Margin
Shipping Days       1.000000      -0.019787
Profit Margin      -0.019787       1.000000

In [ ]:
#Que 8
df.groupby('City')['Order Total'].sum().sort_values(ascending=False).head(1)

City
Sydney    2672545.42
Name: Order Total, dtype: float64

In [ ]:
#Que 9
df.groupby('Account Manager')['Order Total'].sum().sort_values(ascending=False).head(1)

Account Manager
Connor Betts    746122.56
Name: Order Total, dtype: float64

In [ ]:
#Que 10
df.groupby('Ship Mode')['Shipping Cost'].mean().sort_values()

Ship Mode
Express Air       5.247311
Delivery Truck    5.270085
Regular Air       5.503553
Name: Shipping Cost, dtype: float64

In [ ]:
#Que 11
df[['Discount %','Profit Margin']].corr()

               Discount %  Profit Margin
Discount %            NaN            NaN
Profit Margin         NaN            1.0

In [ ]:
#Que 12
df['State'].value_counts().head(1)

State
NSW    3584
Name: count, dtype: int64

In [ ]:
#Que 13
df['Discount %'].mean()

nan

In [ ]:
#Que 14
df['Order Total'].mean()

np.float64(761.79997)

In [ ]:
#Que 15
df.groupby('Product Container')['Order Total'].sum().sort_values(ascending=False)

Product Container
Small Box     2299701.27
Wrap Bag       918140.78
Small Pack     383950.80
Medium Box      81330.17
Jumbo Drum      68903.19
Large Box       56973.64
Name: Order Total, dtype: float64